
h1 {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}
h2 {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}
h3 {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}
p {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}
a {
  text-decoration: none;
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}
